/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import url('https://fonts.cdnfonts.com/css/impact');

/* 노멀라이즈 */
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/* 커스텀 시작 */
* {
    cursor: none;
}

/* cursor custom start*/
.cursor {
    position: fixed;
    width: 24px;
    height: 24px;
    top: -300px;
    left: -300px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 99;
    transition: width .3s, height .3s;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-point {
    position: fixed;
    width: 0;
    height: 0;
    top: -300px;
    left: -300px;
    border-radius: 50%;
    background-color: #BA2D34;
    pointer-events: none;
    transform: translate(-50%, -50%);
    /* transition: top .3s .1s, left .3s .1s; */
    transition: width .3s, height .3s;
    z-index: 100;
    /* mix-blend-mode: difference; */
}

.cursor>.clicktext {
    opacity: 0;


}

.cursor-big {
    width: 60px;
    height: 60px;
}

.cursor-point.active {
    width: 20px;
    height: 20px;
}

.cursor-mockup {
    width: 125px;
    height: 125px;
    background-color: rgba(0, 0, 0, .7);
    mix-blend-mode: normal;
    color: #fff;
}

.cursor-mockup>.clicktext {
    display: block;
    font-size: 24px;
    transform: rotate(30deg);
    opacity: 1;
    transition: .4s ease;


}

/* cursor custom end*/

.container {
    overflow-x: hidden;
    background-color: #262626;
    font-family: 'impact', 'Pretendard', sans-serif;
}

header {
    position: fixed;
    top: -2.1%;
    /* top: -20px */
    right: 5%;
    visibility: hidden;
    opacity: 0;

    z-index: 111;
}

header.active {
    visibility: visible;
    opacity: 1;
    top: 4.21%;
    /* top: 40px; */
    transition: all 0.7s 2.5s ease;
}

header.active_ef {
    visibility: visible;
    opacity: 1;
    top: 4.21%;
    /* top: 40px; */
    transition: all 0.7s ease;
}

header ul {
    display: flex;
    /* gap: 60px; */
    gap: 6.32vh;
    /* font-size: 18px; */
    font-size: 1.89vh;
    color: #fff;
    font-family: 'Pretendard';
    font-weight: 600;
}

header ul li::after {
    content: "";
    display: block;
    margin: 4px auto 0 auto;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width 0.4s ease;
}

header ul li:hover::after {
    width: 100%;
}



.banner {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 10%;
    left: 0;

}

.banner>div {
    display: flex;
    width: 45%;
    font-size: clamp(20px, 1.5vw, 36px);
    color: #fff;
    box-sizing: border-box;
    justify-content: space-between;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-49%);
    transition: all 0.7s 2.5s ease;
    visibility: hidden;
    opacity: 0;

}

.banner>div>div {
    white-space: nowrap;
}

.banner>div.active {
    bottom: 4%;
    visibility: visible;
    opacity: 1;

}

.section-group--horizontal-left {
    display: flex;
    flex-direction: row;
}

.section-group--horizontal-left>.section {
    width: 1920px;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-group--horizontal-left>.Category_Name {
    justify-content: flex-start;
}

.section-group--horizontal-left>.Category_Name>div:first-child {
    padding-left: 20px;
    font-size: 46.9239vh;
    box-sizing: border-box;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.4;
}

.section-group--horizontal-left>.section-about-1 {
    justify-content: flex-end;
}

.section-group--horizontal-left>.section-about-2 {
    justify-content: flex-start;
}

.section-group--horizontal-left>.section-about {
    /* gap: 400px; */
    gap: 41.11vh;
}

.section-group--horizontal-left>.section-about>div {
    display: flex;
    flex-direction: column;
    /* gap: 60px; */
    /* height: 594px; */
    gap: 6.31vh;
    height: 62.53vh;
    box-sizing: border-box;

}

/* <======= section-about start =======> */
.section-group--horizontal-left>.section-about>.introduction {
    /* width: 640px; */
    width: 67.37vh;
}

.section-group--horizontal-left>.section-about>.history {
    /* padding-right: 200px; */
    padding-right: 21.05vh;
}

.section-group--horizontal-left>.section-about>.certificate {
    /* padding-left: 200px; */
    padding-left: 21.05vh;
}

.section-group--horizontal-left>.section-about>div>.h1 {
    /* font-size: 64px; */
    font-size: 6.74vh;
}

.section-group--horizontal-left>.section-about>div>.text-box {
    font-family: 'pretendart';
    /* padding-left: 40px; */
    padding-left: 4.21vh;
    box-sizing: border-box;
}

.section-group--horizontal-left>.section-about>div>.text-box>p {
    /* font-size: 18px; */
    font-size: 1.89vh;
    font-weight: 400;
    line-height: 1.7;
    text-align: justify;
    display: block;
}

.section-group--horizontal-left>.section-about>div>.text-box>p:first-child {
    /* font-size: 20px; */
    font-size: 2.11vh;
    font-weight: 700;
    /* margin-bottom: 18px; */
    margin-bottom: 1.89vh;
}

.section-group--horizontal-left>.section-about>div>.text-box>p:nth-child(2) {
    /* margin-bottom: 16px; */
    margin-bottom: 1.68vh;
}

.section-group--horizontal-left>.section-about>div>.text-box .item {
    /* font-size: 24px; */
    font-size: 2.53vh;
    font-weight: 700;
}

.section-group--horizontal-left>.section-about>div>.text-box .Addendum {
    /* font-size: 18px; */
    font-size: 1.89vh;
    font-weight: 500;
}

.section-group--horizontal-left>.section-about>div>.text-box .period {
    /* font-size: 18px; */
    font-size: 1.89vh;
    font-weight: 700;
}

.section-group--horizontal-left>.section-about>div .item {
    /* margin-bottom: 40px; */
    margin-bottom: 4.21vh;
}

.section-group--horizontal-left>.section-about>.history .period {
    /* margin-bottom: 40px; */
    margin-bottom: 4.21vh;
}

.section-group--horizontal-left>.section-about>.history .item {
    /* margin-bottom: 8px; */
    margin-bottom: 0.84vh;
}

.section-group--horizontal-left>.section-about>.skill>.text-box {
    display: flex;
    gap: 160px;
    /* gap: 16.84vh; */
}

/* <======= section-about end =======> */


/* <======= section-projectt start =======> */
.section-project>div {
    display: flex;
    /* gap:80px; */
    gap: 8.42vh;
}

.section-project .text-box {
    /* width: 563px; */
    width: 59.26vh;
    height: 54.11vh;
    display: flex;
    flex-direction: column;

}

.section-project .text-box .h1 {
    /* font-size: 100px; */
    font-size: 10.53vh;
    /* margin-bottom: 35px; */
    margin-bottom: 3.68vh;
}

.section-project .text-box .h2 {
    /* font-size: 60px; */
    font-size: 6.32vh;
}

.section-project .text-box .contents {
    font-family: 'pretendard';
    /* height: 204px; */
    /* height: 21.47vh; */
    /* margin-bottom: 20px; */
    flex-grow: 1;
    margin-bottom: 2.11vh;
}

.section-project .text-box .contents>div:nth-child(1) {
    /* font-size: 18px; */
    font-size: 1.89vh;
    font-weight: 400;
    line-height: 1.7;
    /* margin: 16px 0 20px; */
    margin: 1.68vh 0 2.11vh;
}

.section-project .text-box .contents>div:nth-child(2)>span {
    display: inline-block;
    margin-right: 8px;
    /* font-size:18px; */
    font-size: 1.89vh;
}

.section-project .text-box .button>div {
    font-family: 'pretendard';
    /* padding: 10px 16px; */
    padding: 1.05vh 1.68vh;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 6px;
    /* font-size: 20px; */
    font-size: 2.11vh;
    margin-right: 18px;
}

.section-project .mockup {
    /* height: 593px; */
    height: 62.42vh;
    position: relative;
    overflow: hidden;
    /* width: 910px; */
    width: 95.79vh;
}

.section-project .mockup>a {
    display: block;
    width:100%;
    height:100%;

}

.section-project .mockup>a>img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: all .4s ease;
}

.section-project .mockup:hover>a>img {
    height: 110%;
}

.section-project .mockup>a>.Leftmotion-b {
    background-color: #262626;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
}

.section-project .mockup>a>.Leftmotion-w {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* <======= section-project end =======> */
/* <======= contect_card start =======> */
.contect_card {
    position: absolute;
    left: calc(100vw/2);
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 858px; */
    /* padding: 52px; */
    padding: 5.47vh;
    box-sizing: border-box;
    background-color: #333;
    /* display:none;  */
}

.contect_card .h1 {
    color: #BA0009;
    background-color: #fff;
    /* font-size: 30px; */
    font-size: 3.16vh;
    /* padding: 10px 0; */
    padding: 1.05vh 0;
    text-align: center;

}

.contect_card .experience {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 68px 0; */
    padding: 7.16vh 0;
    flex-direction: column;
    letter-spacing: 4.64px;
}

.contect_card .experience>div:first-child {
    /* font-size: 30px; */
    font-size: 3.16vh;
    /* margin-bottom: 16px; */
    margin-bottom: 1.68vh;
}

.contect_card .experience>div:last-child {
    /* font-size: 133px; */
    font-size: 14vh;
}

.contect_card .contect {
    /* padding-bottom: 12px; */
    padding-bottom: 1.26vh;
    letter-spacing: 4.64px;

}

.contect_card .contect>div:first-child {
    /* font-size: 30px; */
    font-size: 3.16vh;
    text-align: center;
    /* margin-bottom: 16px; */
    margin-bottom: 1.68vh;
}


.contect_card .contect>div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contect_card .contect span {
    display: inline-block;
    /* font-size: 58px; */
    font-size: 6.11vh;
}

.contect_card .contect img,
.contect_card .contect a {
    display: block;
}

.contect_card .contect img {
    width: 48px;
}

.contect_card .contour {
    height: 4px;
    background-color: #fff;
}

.contect_card .copylight {
    /* font-size: 16px; */
    font-size: 1.68vh;
    font-family: 'pretendard';
    font-weight: 300;
    text-align: center;
    /* margin-top: 12px; */
    margin-top: 1.26vh;
}

/* <======= contect_card end =======> */

/* prograsbar start */
.prograsbar {
    background-color: red;
    width: 100vw;
    /* height: 60px; */
    height: 6.32vh;
    position: fixed;
    z-index: 11111;
    /* bottom: -100px; */
    bottom: -10.53vh;
    left: 0;
    background-image: url(imgs/prograsbar.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -10px;
    transition: bottom 0.7s ease;
}

.prograsbar.active {
    bottom: 0px;
}

.prograsbar .progras {
    width: 0%;
    height: 100%;
    transition: width 0.1s linear;
    position: relative;
}

.prograsbar .progras::after {
    content: "";
    background-image: url(imgs/사람애니2.gif);
    background-size: cover;
    /* height: 94px;
            width: 94px; */
    height: 9.89vh;
    width: 9.89vh;
    display: block;
    position: absolute;
    right: 0%;
    bottom: 60%;
}